<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/master.css">

  </head>
  <body class="d-flex flex-column">
    <header>
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar navbar-expand bg-light align-items-center">
            <div class="navbar-nav btn-group rounded" role="group" aria-label="Basic example">
                <a class="nav-item btn btn-primary" href="login">Login</a>
                <a class="nav-item btn btn-success mx-1" href="register">Register</a>
                <a class="nav-item btn btn-warning" href="logout">Logout</a>
            </div>
            <% if(!currentUser){ %>  
                <span href="#" class="nav-link" style="color:crimson"><i class="fas fa-user"></i></span>
            <% } else { %>
                <span href="#" class="nav-link" style="color:chartreuse"><i class="fas fa-user"></i></span>
            <% } %>
      </nav>

      <div class="container">
            <% if(error && error.length > 0){ %>
              <div class="alert alert-danger my-2" role="alert"><%= error %></div>
            <% } %>
            <% if(success && success.length > 0){ %>
              <div class="alert alert-success my-2" role="alert"><%= success %></div>
            <% } %>
          </div>
    </header>

    <main class="container">