<% include partials/header %>

<h1 class="text-right"><%= date %></h1>


<section class="d-flex justify-content-center">

    <div class="py-3 container">
        <% students.forEach(function(student){ %>

            <div class="rounded d-flex flex-row my-2 bg-light">
                <div class="border-0" >
                    <img class="rounded" src="<%= student.picture %>" alt="" style="width: 12rem;">
                </div>
                <div class="px-2 w-100">
                        <div class="flex-filld-flex justify-content-between">
                            <span class="namecard title" style="display:inline" href="/"><%= student.name %></span>
                        </div >
                        <p class="namecard"><%= student.class %></p>
                        <p class="namecard"><i class="far fa-calendar-plus"></i> <i class="fas fa-ambulance"></i> <i class="fas fa-anchor"></i> <i class="far fa-building"></i> <i class="fas fa-chalkboard-teacher"></i></p>
                </div>
                <div class="d-flex align-items-center mx-2">
                    <% if(student.atSchool === "True"){ %>  
                        <span class="align-middle" href="#" class="nav-link" style="color:crimson"><i class="fas fa-3x fa-user-slash fa-fw"></i></span>
                    <% } else { %>
                        <span class="align-middle" href="#" class="nav-link" style="color:darkgreen"><i class="fas fa-3x fa-user fa-fw"></i></span>
                    <% } %>
                </div>
            </div>

        <% }) %>
    </div>

</section>

<% include partials/footer %>